pipeline/PL_copy_source_data.json
{
	"name": "PL_copy_source_data",
	"properties": {
		"activities": [
			{
				"name": "GetListofTables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT TABLE_SCHEMA, TABLE_NAME FROM AdventureWorksLT2025.INFORMATION_SCHEMA.TABLES\nWHERE TABLE_TYPE='BASE TABLE' AND TABLE_SCHEMA='SALESLT' AND TABLE_NAME IN ('CUSTOMER', 'PRODUCT', 'SALESORDERHEADER', 'SALESORDERDETAIL');",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "dt_SqlServer",
						"type": "DatasetReference",
						"parameters": {
							"schemaName": {
								"value": "salesLT",
								"type": "Expression"
							},
							"tableName": "Address",
							"DBName": "AdventureWorksLT2025"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetListofTables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetListofTables').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "CopyTables",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "dt_SqlServer",
									"type": "DatasetReference",
									"parameters": {
										"schemaName": {
											"value": "@item().TABLE_SCHEMA",
											"type": "Expression"
										},
										"tableName": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										},
										"DBName": "AdventureWorksLT2025"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "dt_adlsTables",
									"type": "DatasetReference",
									"parameters": {
										"tableName": {
											"value": "@item().TABLE_NAME",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-02-12T07:15:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}